@media (max-height: 900px) {
  .add-task-page .page .content {
    height: auto !important;
    overflow: visible !important;
  }

  .task_main_wrapper {
    max-height: none !important;
    overflow: visible !important;
  }

  .page .content {
    overflow-y: visible !important;
    height: auto !important;
  }
}

@media (max-width: 1400px) {
  .split_container {
    gap: 40px !important;
  }

  .edit-input {
    padding-bottom: 0 !important;
  }

  #subtask-input {
    padding-bottom: 0 !important;
    max-height: 42px !important;
  }
}

@media (max-width: 1300px) {
  .split_container {
    gap: 30px !important;
  }
}

@media (max-width: 1260px) {
  .split_container {
    gap: 25px !important;
  }
}

@media (max-width: 1250px) {
  #subtask-list {
    max-width: 400px !important;
  }

  .priority_name {
    font-size: 17px !important;
  }

  .split_container {
    gap: 10px !important;
    padding-left: 5% !important;
    padding-right: 5% !important;
  }

  .footer,
  .footer_buttons_bar {
    grid-template-columns: 330px 0px 400px;
  }

  #subtask-clear {
    right: 35px !important;
  }

  #subtask-add {
    right: 60px !important;
  }

  .divider_subtasks {
    right: 60px !important;
  }
  label,
  .span_form {
    font-size: 17px !important;
  }

  .left_split,
  .right_split .add_task_form .form_group #subtask-input {
    max-width: 400px;
  }

  input,
  select,
  textarea,
  .custom_select {
    font-size: 17px !important;
    max-width: 400px !important;
  }
}

@media (max-width: 1150px) {
  .split_container {
    gap: 7px !important;
    padding-left: 3% !important;
    padding-right: 3% !important;
  }
}

@media (max-width: 1120px) {
  .split_container {
    gap: 5px !important;
    padding-left: 2% !important;
    padding-right: 2% !important;
  }

  .priority_name {
    font-size: 20px !important;
  }
}

@media (max-width: 1100px) {
  input,
  select,
  textarea,
  .custom_select {
    font-size: 16px !important;
    max-width: 370px !important;
  }

  .font_clear,
  .font_create {
    font-size: 16px !important;
  }

  .priority_name {
    font-size: 20px !important;
  }

  .split_container {
    gap: 3px !important;
    padding-left: 7% !important;
  }

  .footer {
    padding-left: 7% !important;
    grid-template-columns: 300px 0px 400px;
  }
  .footer_buttons_bar {
    grid-template-columns: 300px 0px 400px;
  }

  .priority_btn {
    font-size: 16px !important;
  }

  #subtask-list {
    max-width: 370px !important;
  }

  .priority_container {
    max-width: 370px !important;
  }

  .priority_name {
    font-size: 17px !important;
  }

  .left_split {
    max-width: 370px !important;
  }
}

@media (max-width: 1060px) {
  .split_container {
    gap: 3px !important;
    padding-left: 5% !important;
  }

  .footer {
    column-gap: 0px !important;
  }

  .footer_buttons_bar {
    grid-template-columns: 270px 0px 400px;
  }
}

@media (max-width: 1040px) {
  .split_container {
    gap: 3px !important;
    padding-left: 3% !important;
  }
}

@media (max-width: 1024px) {
  .add-task-page .page .content {
    height: auto !important;
    overflow-y: auto !important;
  }

    .priority_name {
    font-size: 20px !important;
  }

  .task_main_wrapper {
    max-height: none !important;
    overflow: visible !important;
    display: flex !important;
    flex-direction: column !important;
  }

  .split_container {
    gap: 20px !important;
    padding-left: 7% !important;
  }

  .footer {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-top: 20px !important;
    margin-bottom: 0 !important;
    padding-left: 12% !important;
    grid-template-columns: 440px 10px 400px;
    order: 1 !important;
  }

  .footer_buttons_bar {
    position: sticky !important;
    bottom: 0 !important;
    margin-top: 30px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    margin-bottom: 0 !important;
    background-color: #f5f5f5 !important;
    z-index: 100 !important;
    grid-template-columns: 440px 10px 400px;
    order: 2 !important;
  }

  .font_clear,
  .font_create {
    font-size: 16px !important;
  }

  input,
  select,
  textarea,
  .custom_select {
    font-size: 16px !important;
    max-width: 440px !important;
  }

  #subtask-list {
    max-width: 440px !important;
  }

  .split_container {
    gap: 3px !important;
    padding-left: 7% !important;
  }

  .priority_container {
    max-width: 440px !important;
  }

  .priority_name {
    font-size: 17px !important;
  }

  .left_split {
    max-width: 440px !important;
  }
}

@media (max-width: 1000px) {
  .split_container {
    gap: 5px !important;
    padding-left: 2% !important;
  }
}

@media (max-width: 870px) {
  .split_container {
    gap: 5px !important;
    padding-left: 3% !important;
  }
}

@media (max-width: 990px) {
  .footer_buttons_bar {
    column-gap: 30px !important;
  }
}

@media (max-width: 950px) {
  .split_container {
    flex-direction: column !important;
    max-height: none !important;
    overflow: visible !important;
    width: 90% !important;
    margin: 0 auto !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  #task-description {
    height: 88px !important;
  }

  .add_task_heading {
    padding-left: 5% !important;
    margin-top: 40px !important;
    margin-bottom: 40px !important;
  }

  .form_group {
    width: 100% !important;
    padding-top: 0;
  }

  .priority_container {
    max-width: 100% !important;
    height: 70px !important;
  }

  .left_split,
  .right_split {
    max-width: 100% !important;
    width: 100% !important;
    max-height: none !important;
  }

  .add_task_container {
    width: 100% !important;
    max-width: 100% !important;
    height: auto !important;
  }

  .add_task_form {
    width: 100% !important;
    height: auto !important;
  }

  .form_group {
    width: 100% !important;
  }

  .form_group.description {
    height: auto !important;
  }

  label,
  .span_form,
  .priority_name {
    font-size: 24px !important;
    padding-bottom: 14px !important;
  }

  input,
  select,
  textarea,
  .custom_select {
    font-size: 20px !important;
    width: 100% !important;
    max-width: 100% !important;
    box-sizing: border-box !important;
    padding-bottom: 14px !important;
  }

  .assigned_users_icons {
    margin-top: 0 !important ;
    margin-bottom: 10px;
  }

  .footer_buttons_bar {
    grid-template-columns: 1fr !important;
    margin-right: 90px !important;
  }

  .footer {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-top: 20px !important;
    margin-bottom: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    right: 35% !important;
    position: relative;
    max-width: 440px !important;
    min-width: none !important;
    display: flex !important;
  }

  #subtask-list {
    max-width: 100% !important;
  }

  textarea {
    height: 180px !important;
  }

  .add_task_form textarea {
    width: 100% !important;
    height: 180px !important;
  }

  .priority_container {
    display: flex !important;
    flex-direction: row !important;
    width: 100% !important;
    gap: 12px !important;
  }

  .priority_btn {
    flex: 1 !important;
    width: auto !important;
    font-size: 16px !important;
    min-width: 0 !important;
  }

  .custom_select {
    width: 100% !important;
    height: auto !important;
  }

  .add_task_create_button {
    width: 183px !important;
    height: 56px !important;
  }

  .font-clear,
  .font-create {
    font-size: 18px !important;
  }

  .divider {
    display: none !important;
  }
}

@media (max-width: 770px) {
  .footer {
    right: 32% !important;
  }
}

@media (max-width: 600px) {
  label,
  .span_form,
  .priority_name,
  .footer_text,
  .font-clear,
  .font-create,
  ::placeholder {
    font-size: 16px !important;
  }

  input,
  select,
  textarea,
  .custom_select {
    max-width: 100%;
    font-size: 16px !important;
    width: 90%;
  }

    .priority_name {
    font-size: 18px !important;
  }

  .font-clear,
  .font-create {
    font-size: 16px !important;
  }

  .urgent_icon,
  .medium_icon,
  .low_icon {
    transform: translateY(2px);
  }

  .footer_content {
    flex-direction: column;
    align-items: flex-start;
  }

  .task_controls_buttons {
    width: 80% !important;
  }

  .footer {
    padding: 0 30px;
    margin-left: 3rem !important;
  }
}

@media (max-width: 600px) {
  .priority_container {
    gap: 8px !important;
  }
}

@media (max-width: 500px) {
  input,
  select {
    max-width: 100% !important;
    font-size: 16px;
  }

  .add_task_heading {
    padding-left: 30px;
    padding-top: 60px;
    padding-bottom: 30px;
  }

  .add_task_form label,
  .add_task_form input,
  .add_task_form textarea,
  .add_task_form select,
  .add_task_form button,
  .add_controll_form label,
  .add_controll_form input,
  .add_controll_form select,
  .add_controll_form button {
    width: 90%;
  }

  ::placeholder {
    font-size: 16px !important;
  }

  label {
    font-size: 16px !important;
  }

  .footer {
    padding: 0 20px;
  }
}

@media (max-width: 400px) {
  label,
  .span_form,
  .priority_name,
  .footer_text {
    font-size: 16px !important;
  }

  .font-clear,
  .font-create {
    font-size: 16px !important;
  }

  .task_controls_buttons {
    width: 80% !important;
  }

  .form_group.description {
    width: 95%;
  }
}

@media (max-width: 430px) {
  .font_clear,
  .font_create {
    font-size: 16px !important;
  }

  .footer_buttons_bar {
    grid-template-columns: 0px 0px 100% !important;
    column-gap: 0px !important;
  }

  .footer {
    right: 30% !important;
  }
}

@media (max-width: 390px) {
  .font_clear,
  .font_create {
    font-size: 16px !important;
  }

  .footer {
    right: 30% !important;
  }

  .low_icon,
  .medium_icon,
  .urgent_icon {
    max-width: 16px !important;
    flex: none !important;
  }
}

@media (max-width: 350px) {
  .priority_btn {
    margin: 0 !important;
    flex: 1 !important;
    max-width: 100% !important;
  }

  .footer {
    right: 25% !important;
  }

  .priority_container {
    gap: 5px !important;
  }
}
