#task-assigned-to {
  position: relative;
  width: 100%;
}

.custom-select {
  position: relative;
  width: 100%;
  user-select: none;
}

.select-display {
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-assign {
  margin-left: 10px;
  font-size: 12px;
}

.select-options {
  display: none;
  position: absolute;
  width: 100%;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 6px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 20;
}

.select-options.show { display: block; }
.option-item {
  display: flex;
  align-items: center;
  padding: 8px 10px;
  cursor: pointer;
  gap: 12px;
}

.option-item:hover { background: #f3f3f3; }

.option-left {
  display: flex;
  align-items: center;
  gap: 10px;
  min-width: 0;
}

.option-user-name {
  font-family: "inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.checkbox-square {
  width: 18px;
  height: 18px;
  border: 2px solid #888;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  margin-left: auto;
  flex: 0 0 auto;
}

.option-item.checked .checkbox-square::after {
  content: "✔";
  color: #000;
  font-size: 18px;
}

.assigned_users_icons {
  display: flex;
  gap: 8px;
  margin-top: 10px;
  flex-wrap: nowrap;
  overflow: hidden;
}

.assigned_user_icon {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  flex: 0 0 auto;
}

.user_icon {
  height: 32px;
  width: 32px;
  border-radius: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  border: 2px solid #fff;
  margin-left: -10px;
  z-index: 1;
  color: #fff;
}
.user_icon:first-child { margin-left: 0; }
.user_icon:hover { z-index: 10; }
