/* .edit_task_overlay {
    position: relative; 
    display:flex; 
    flex-direction: column; 
    width: 396px; 
    height: 724px; 
    height:650px; 
    border-radius: 30px;
    padding: 32px 24px;
    box-shadow: 0px 0px 4px 0px #00000029;
    background-color: #FFFFFF;
    z-index: 1000;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box; 
} */

.edit_task_overlay {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 420px;
    max-height: 90vh;
    padding: 32px 24px;
    border-radius: 24px;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px 0px #00000029;
    box-sizing: border-box;
    overflow-y: auto;
}



.no_assignies { 
    white-space: nowrap;
    margin: 0px; 
}

.no_assignies p{ 
    margin: 5px; 
}

.close_icon {
width: 13px;
height: 13px;
cursor: pointer;
}

.close_icon_wrapper:hover {
    background-color: rgba(0,0,0,0.1);
    cursor: pointer;
}

.close_icon_wrapper {
width: 24px;
height: 24px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
transition: background-color 120ms ease;
}

/* Dieser hover muss noch bearbeitet werden */
.task_view_head {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-right: 20px; 
}

.input_edit_title {
    width: 365px;
    height:auto; 
    margin-top: 7px; 
}

.input_edit_date {
    width: 365px;
    height:auto; 
    margin-top: 7px; 
}

.input_edit_description { 
    width: 365px;
    margin-top: 7px; 
    padding-top: 8px;    
    padding-bottom: 40px; 
    padding-left: 5px;  
    padding-right: 10px; 
    box-sizing: border-box;
}

.edit_description {
    margin-top: 20px; 
}

.edit_duedate {
    margin-top: 20px; 
    margin-bottom: 20px; 
}

.edit_priority {
    display:flex; 
    flex-direction: column;
    margin-top: 40px; 
}

.input_style {
    border: 1px solid #29ABE2;
    border-radius: 7px;
    font-size: 20px;
    font-family: "Inter";
    outline: none;
    padding-top: 8px;    
    padding-bottom: 8px; 
    padding-left: 5px;  
    padding-right: 10px; 
    box-sizing: border-box;
    width: 97%;
    resize: none;            
    overflow: hidden;         
    min-height: 32px;         
    max-height: 400px; 
}

.close_icon_margin {
    margin-left: 310px; 
    margin-bottom: 20px; 
}

.scroll-area {
    max-height: 600px;   
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1;
    min-width: 0;
}

.scroll-area::-webkit-scrollbar {
    width: 6px;                
}

.scroll-area::-webkit-scrollbar-track {
    background: #f2f2f2;        
    border-radius: 10px;
}

.scroll-area::-webkit-scrollbar-thumb {
    background: #cccccc;       
    border-radius: 10px;
}

.scroll-area::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;     
}

.priority_btn_group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:8px; 
    margin-right: 15px; 
}

.bold_font {
    font-weight: bold;
    font-size: 20px;
    font-family: "Inter";
    color:#2A3647; 
    margin-top:0px; 
}

.edit_assigned_to {
    margin-top: 20px; 
    margin-bottom: 10px; 
}
/* assigned user selection */

.user_dropdown {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.user_dropdown_selected {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: white;
    cursor: pointer;
    width: 302px; 
    margin-top:7px; 
    font-size: 20px;
    font-family: "inter";
    position: relative;
}

.user_search_input {
    border: none;
    outline: none;
    font-size: 16px;
    flex: 1; 
    padding: 3px 0;
    line-height: 1.2;
    font-size: 20px;
    font-family: "Inter";
}

.dropdown_arrow img {
    display: block;        
    transition: transform 0.2s ease;
    width: 7px;
    height: 5px;
}


.dropdown_arrow {
    display: flex;
}

.user_dropdown_selected.open .dropdown_arrow img{
    transform: rotate(180deg);
}

.user_dropdown_list {
    position: static;
    top: 50px;
    left: 0;
    width: fit-content; 
    background: white;
    border-radius: 8px;
    max-height: 347px;
    overflow-y: auto;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    z-index: 100;
}

.user_option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 12px;
    width: 302px;
    cursor: pointer;
}

.user_option:hover {
    background: #777373;
}

.user_option.assigned:hover {
    background-color: #2a3647;
}

.selectable_user {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user_checkbox {
  appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #2A3647;
  border-radius: 4px; 
  position: relative;
  cursor: pointer;
  outline: none;
  background-color: #fff;
  transition: all 0.1s; 
  margin-right:20px; 
}

.user_checkbox:checked {
  background-color: #2A3647;
  border-color: #2A3647;
}

.user_checkbox::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 0px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.user_icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #007bff;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-right: 10px;
}

.assigned_icon.overflow_icon {
    background-color: #2A3647; 
    color: white;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user_option.assigned {
    background-color: #2a3647;
    color: white; 
}

.user_option.assigned .user_checkbox {
    background-color: #2a3647;;
    border-color: white; 
    border-width: 1px;
    box-shadow: 0 0 0 1px #1f2a3b inset;
}

.user_option.assigned .user_checkbox::after {
    display: block;
    border-color: white; 
}


.edit_subtasks {
    margin-top: 30px; 
}

.input_edit_subtask {
    height: 50px; 
    width: 365px;
    border: 1px solid #D1D1D1;
    border-radius: 7px;
    font-size: 20px;
    font-family: "Inter";
    outline: none;
    transition: border-color 0.1s, box-shadow 0.1s;
    margin-top: 7px; 
    width: calc(100% - 40px);
}

#input_edit_subtask::placeholder {
    color: #b0b0b0;
    font-family: "Inter";
    font-size: 20px;
}

.subtasklist {
    margin-bottom: 20px; 
}

.input_edit_subtask_wrapper {
    position: relative;
    width: 97%;
}

.input_edit_subtask_wrapper input {
    flex: 1;
}

.icon_wrapper.subtask_icon {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input_edit_subtask {
    width:100%; 
    padding: 10px 85px 10px 8px; 
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}

.subtask_icon {
    position: absolute;
    top: 58%;
    transform: translateY(-50%);
    width: 22px;
    height: 22px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.left_icon {
    right: 55px;
}

.right_icon {
    right: 25px;
}

.icon_wrapper {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 120ms ease;
    cursor: pointer;
}

.red_star {
    color: red; 
}



