@media (max-width: 1440px) {
    .board_layout {
       display:flex;
       flex-direction: column;
       padding-left: 120px; 
       gap:70px; 
    }

    .board_row {
        gap:40px; 
    }

    .toolbar {
        gap:30px; 
    }

    .header_board {
    gap: 30px;
}
}

@media (max-width: 1024px) {
.show_task_overlay {
   left: 50%;
}

.edit_task_overlay { 
    left: 50%;
}

}

@media (max-width: 860px) {
   .header_board {
    display: none; 
}

.no_tasks_found {
  top:280px ;
}

.header_board_responsive {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin-left: 30px; 
    margin-right: 30px; 
    gap:12px; 
}

.task_create_button {
  width: 40px;
  height: 40px;
}

.plus_svg {
    height: 20px;
    width: 20px;
}

.header_board_row {
    display:flex; 
    align-items: center;
    justify-content:space-between; 
    margin-top: 50px;
    gap: 70px;  
}

.search_task {
    width: 400px; 
}

.board_layout {
       padding-left: clamp(16px, 6vw, 90px);
       padding-top:80px; 
    }

}

@media (max-width: 680px) {

.board_row {
        flex-direction: column; 
        gap:60px; 
    }


.board_layout {
       padding-left: 0px; 
       align-items: center;
       gap:60px; 
       padding-top: 75px; 
    }

.menu_wrapper {
    position: relative;
    display:block; 
}

.header_board_responisve {
    gap:20px; 
}

.search_task {
    width: 312px; 
}
}

@media (max-width: 540px) { 
.header_board_row h2 {
    font-size: 47px;
}

.search_task {
    width: 255px; 
}

.search {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 10px;
    left: 233px;
}

.no_tasks_found {
  top:265px ;
}

.column_head {
    width: 270px;
}

.board_column {
    width:260px; 
}

.task_card {
    width: 200px; 
}

.task_titel_card {
    width: 190px;
}

.task_description_card {
    width: 190px;
}

.task_progress_subtasks_card {
    width: 190px;
}

.progressbar_subtasks {
    width: 90px;
}

.task_progress_subtasks_card p {
    font-size: 14px;
}

.task_assigned_members_card {
    width: 190px;
}

.task_category_card_overlay {
    font-size: 16px;
    width: 144px;
    height: 27px; 
    padding: 4px 0px;
}

.scroll-area h2 {
    font-size:36px; 
    max-width: 100%;
    overflow-wrap: break-word; 
    white-space: normal;
}

.scroll-area h4 {
    font-size:16px; 
}

.task_detail_font {
    font-size:16px; 
}

.priority h4 {
    font-weight: bold;
    color: #42526E;
}

.priority {
    padding-bottom: 10px;
    width: 200px;
}

.due_date h4 {
    font-weight: bold;
    color: #42526E;
}

.due_date {
    padding-bottom: 10px;
    width: 200px;
}
.assigned_to h4 {
    font-weight: bold;
    color: #42526E;
}

.assigned_to {
    width: 200px;
   
}

.user_row_layout {
 width: 200px;
 padding: 7px 10px;
}

.user_font {
    font-size:16px; 
}

.subtasks_list h4 {
    font-weight: bold;
    color: #42526E;
}

.subtasks_list {
    width:97%; 
}

.subtask_check {
    width:210px; 
}

.show_task_overlay {
    height: 640px;
    width: 270px; 
    top:15px; 
    padding: 32px 15px;
}

.edit_delete_task {
    width:200px; 
}

.input_edit_title {
   font-size:16px; 
   width: 222px;
   padding-left: 0px;  
   padding-top: 0px;  
}

.input_edit_description {
    font-size:16px; 
    width: 222px; 
    padding-left: 0px;  
    padding-top: 0px;  
}

.input_edit_date {
    font-size:16px;
}

.input_event input {
        width: 222px; 
}

.bold_font {
    font-size:16px; 

}

.edit_priority{
 margin-top: 20px;
}

.priority_name {
    font-size:16px; 
}

.priority_name.medium {
    font-size: 16px; 
}

.priority_button { 
    height: 49px; 
    margin-right: 0px;
    padding: 5px 3px;
    flex-direction: column;
}

.priority_btn_group {
    gap:5px; 
 }

.user_dropdown_selected { 
    font-size:16px;
    padding: 12px 4px;
    width: 212px; 
}

.user_dropdown { 
    width: 197px; 
}

.user_option { 
    width: 212px; 
}

.edit_task_button {
    margin-left: 145px;
}

#edit_subtask_input::placeholder {
    font-size:16px; 
}

#edit_description::placeholder {
    font-size:16px; 
}

#edit_title::placeholder {
    font-size:16px; 
}

.input_edit_subtask {
padding: 10px 60px 10px 0px;
font-size:16px;
}

.event_icon{ 
 right: 70px;
 
}

.edit_task_overlay{
    height: 640px;
    width: 270px; 
    top:15px; 
    padding: 32px 15px;
}

.edit_title h4 {
    font-weight: bold;
}

.edit_description h4 {
    font-weight: bold;
}

.edit_duedate h4 {
    font-weight: bold;
}

.edit_assigned_to h4 {
    font-weight: bold;
}

.edit_subtasks h4 {
    font-weight: bold;
}

.left_icon {
    right:33px; 
}

.right_icon {
    right:6px; 
}

.subtask_separator_input { 
    right:31px; 
}

.userfeedback_delete_subtask {
left: 5%;
width:200px;
top:180px;  
font-size:22px; 
}
}
