@media (max-width: 1440px) {
    .board_layout {
       display:flex;
       flex-direction: column;
       padding-left: 120px; 
       gap:70px; 
    }

    .board_row {
        gap:40px; 
    }

    .toolbar {
        gap:50px; 
    }

    .header_board {
    gap: 50px;
}
}

@media (max-width: 1024px) {
.show_task_overlay {
   left: 50%;
}

.edit_task_overlay { 
    left: 50%;
}
}

@media (max-width: 860px) {
   .header_board {
    display: none; 
}

.header_board_responsive {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin-left: 30px; 
    margin-right: 30px; 
    gap:50px; 
}

.task-create-button {
  width: 40px;
  height: 40px;
}

.plus_svg {
    height: 20px;
    width: 20px;
}

.header_board_row {
    display:flex; 
    align-items: center;
    justify-content:space-between; 
    margin-top: 50px;
    gap: 70px;  
}

.search_task {
    width: 400px; 
}

.board_layout {
       padding-left: clamp(16px, 6vw, 90px);
    }

}

@media (max-width: 680px) {

.board_row {
        flex-direction: column; 
        gap:60px; 
    }


.board_layout {
       padding-left: 0px; 
       align-items: center;
       gap:60px; 
       padding-top: 40px; 
    }

.menu_wrapper {
    position: relative;
    display:block; 
}

.header_board_responisve {
    gap:20px; 
}

.search_task {
    width: 312px; 
}
}

@media (max-width: 540px) { 
.header_board_row h2 {
    font-size: 47px;
}

.search_task {
    width: 255px; 
}

.search {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 10px;
    left: 233px;
}

.column_head {
    width: 270px;
}

.board_column {
    width:260px; 
}

.task_card {
    width: 200px; 
}

.task_titel_card {
    width: 190px;
}

.task_description_card {
    width: 190px;
}

.task_progress_subtasks_card {
    width: 190px;
}

.progressbar_subtasks {
    width: 90px;
}

.task_progress_subtasks_card p {
    font-size: 14px;
}

.task_assigned_members_card {
    width: 190px;
}

.task_category_card_overlay {
    font-size: 16px;
    width: 144px;
    height: 27px; 
    padding: 4px 0px;
}

.scroll-area h2 {
    font-size:36px; 
    max-width: 100%;
    overflow-wrap: break-word; 
    white-space: normal;
}

.scroll-area h4 {
    font-size:16px; 
}

.task_detail_font {
    font-size:16px; 
}

.priority h4 {
    font-weight: bold;
    color: #42526E;
}

.priority {
    padding-bottom: 10px;
}

.due_date h4 {
    font-weight: bold;
    color: #42526E;
}

.due_date {
    padding-bottom: 10px;
}
.assigned_to h4 {
    font-weight: bold;
    color: #42526E;
}

.user_font {
    font-size:16px; 
}

.subtasks_list h4 {
    font-weight: bold;
    color: #42526E;
}

.show_task_overlay {
    height: 640px;
    width: 270px; 
    top:15px; 
}

.edit_delete_task {
    width:200px; 
}

.input_edit_title {
   font-size:16px; 
   width: 250px; 
}

.input_edit_description {
    font-size:16px; 
    width: 250px; 
}

.input_event input {
        width: 250px; 
}

.bold_font {
    font-size:16px; 

}

.edit_priority{
 margin-top: 20px;
}

.priority_name {
    font-size:16px; 
}

.priority_button { 
    gap:12px; 
    height: 49px; 
}

.user_dropdown_selected { 
    font-size:16px;
    width: 250px; 
}

.user_option { 
    width: 250px; 
}

/* .input_edit_subtask {
    width: 80%; 

} */

}
