@media (max-width: 1500px) {
     .toolbar {
        gap: 30px;
    }

      .header_board {
        gap: 30px;
        padding-left:80px; 
    }

    .board_layout {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 50px 0;
    padding-left: 80px; 
    padding-right: 80px; 
    padding-top:0px; 
    width: 100%;
    box-sizing: border-box;
    max-width: 1000px; 
    }

    .board_column {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    min-height: 0;
    }

    .column_head {
    width: 100%;
    }

    .column_content {
    display: flex;
    flex-direction: row;
    gap: 16px;            
    width: 100%;
    overflow-x: auto;       
    overflow-y: hidden;
    padding-right:0px; 
    }

    .task_card {
        margin-right: 20px;
    }

    /* .show_task_overlay {
        left: 50%;
        height: 650px; 
    } */

    /* .edit_task_overlay {
        left: 50%;
        height: 650px; 
    } */

    .menu_wrapper {
        position: relative;
        display: block;
    }
}

@media (max-width: 1024px) {

    .header_board_responsive {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px; 
    }

      .header_board_row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 50px;
        gap: 120px;
    }

    .header_board {
        display: none;
    }

    .task_create_button {
        width: 40px;
        height: 40px;
    }

    .plus_svg {
        height: 20px;
        width: 20px;
    }

    /* .show_task_overlay {
        left: 50%;
        height: 650px; 
    } */

    /* .edit_task_overlay {
        left: 50%;
        height: 650px; 
    } */

    .menu_wrapper {
        position: relative;
        display: block;
    }

    .board_layout {
        margin-bottom: 200px;
    }
}


@media (max-width: 800px) {
    .search_task {
        width: 310px;
    }

      .board_layout {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 680px) {

    .input_event {
        width: 328px;
    }

}

@media (max-width: 540px) {

    .date_userfeedback {
        font-size: 15px; 
    }

    .input_event input {
        width: 220px; 
        padding-right: 20px; 
    }

    .header_board_row h2 {
        font-size: 47px;
    }

    .search_task {
        width: 274px;
    }

    .search {
        width: 32px;
        height: 32px;
        position: absolute;
        top: 10px;
        left: 233px;
    }

    .task_card {
        width: 200px;
    }

    .task_titel_card {
        width: 190px;
    }

    .task_description_card {
        width: 190px;
    }

    .task_progress_subtasks_card {
        width: 190px;
    }

    .progressbar_subtasks {
        width: 90px;
    }

    .task_progress_subtasks_card p {
        font-size: 14px;
    }

    .priority_icon_board {
        padding-left: 20px;
    }

    .task_category_card_overlay {
        font-size: 16px;
        width: 144px;
        height: 27px;
        padding: 4px 0px;
    }

    .scroll-area h2 {
        font-size: 36px;
        max-width: 100%;
        overflow-wrap: break-word;
        white-space: normal;
    }

    .scroll-area h4 {
        font-size: 16px;
    }

    .task_detail_font {
        font-size: 16px;
    }

    .priority h4 {
        font-weight: bold;
        color: #42526E;
    }

    .priority {
        padding-bottom: 10px;
        width: 200px;
    }

    .due_date h4 {
        font-weight: bold;
        color: #42526E;
    }

    .due_date {
        padding-bottom: 10px;
        width: 200px;
    }

    .assigned_to h4 {
        font-weight: bold;
        color: #42526E;
    }

    .assigned_to {
        width: 200px;

    }

    .user_row_layout {
        width: 200px;
        padding: 7px 10px;
    }

    .user_font {
        font-size: 16px;
    }

    .subtasks_list h4 {
        font-weight: bold;
        color: #42526E;
    }

    .subtasks_list {
        width: 97%;
    }

    .subtask_check {
        width: 210px;
    }

    /* .show_task_overlay {
        height: 500px;
        width: 270px;
        top: 15px;
        padding: 32px 15px;
    } */

    .edit_delete_task {
        width: 200px;
    }

    .input_edit_title {
        font-size: 16px;
        width: 222px;
        padding-top: 5px;
    }

    .input_edit_description {
        font-size: 16px;
        width: 222px;
        padding-top: 5px;
    }

    .input_edit_date {
        font-size: 16px;
    }

    .input_event {
        width: 222px;
    }

    .bold_font {
        font-size: 16px;

    }

    .close_icon_margin {
        margin-left: 204px;
    }

    .edit_priority {
        margin-top: 20px;
    }

    .priority_name {
        font-size: 16px;
    }

    .priority_name.medium {
        font-size: 16px;
    }

    .priority_button {
        height: 49px;
        margin-right: 0px;
        padding: 5px 3px;
        flex-direction: column;
    }

    .priority_btn_group {
        gap: 5px;
    }

    .user_dropdown_selected {
        font-size: 16px;
        padding: 12px 4px;
        width: 212px;
    }

    .user_dropdown {
        width: 197px;
    }

    .user_option {
        width: 212px;
    }

    .edit_task_button {
        margin-left: 145px;
    }

    #edit_subtask_input::placeholder {
        font-size: 16px;
    }

    #edit_description::placeholder {
        font-size: 16px;
    }

    .user_search_input::placeholder {
        font-size: 16px;
    }

    .user_search_input {
        width: 200px
    }


    #edit_title::placeholder {
        font-size: 16px;
    }

    .input_edit_subtask {
        padding: 10px 55px 10px 7px;
        font-size: 16px;
    }

    /* .edit_task_overlay {
        height: 500px;
        width: 270px;
        top: 15px;
        padding: 32px 15px;
    } */

    .edit_title h4 {
        font-weight: bold;
    }

    .edit_description h4 {
        font-weight: bold;
    }

    .edit_duedate h4 {
        font-weight: bold;
    }

    .edit_assigned_to h4 {
        font-weight: bold;
    }

    .edit_subtasks h4 {
        font-weight: bold;
    }

    .left_icon {
        right: 33px;
    }

    .right_icon {
        right: 6px;
    }

    .subtask_separator_input {
        right: 31px;
    }

    .userfeedback_delete_subtask {
        left: 5%;
        width: 200px;
        top: 180px;
        font-size: 22px;
    }
}

@media screen and (orientation: landscape) and (max-width: 900px) {
    body>*:not(.landscape_blocker) {
        display: none;
    }

    .landscape_blocker {
        position: fixed;
        background-color: #2A3647;
        color: white;
        border-radius: 10px;
        top: 80px;
        width: 300px;
        height: 50px;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 200;
        text-align: center;
        white-space: normal;
        left: 50%;
        transform: translateX(-50%);
        z-index: 9999;
    }
}