header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-bottom: 1px solid #eee;
  height: 96px;
  width: 100%;
}


.header_overlay {
  position: fixed;
  inset: 0;                
  background: rgba(0, 0, 0, 0); 
  z-index: 900;            
}


.join_icon {
  width: 32px; 
  height:39px; 
  display:none; 
}

.header_icons {
 position: relative;
 display: flex;
 align-items: center;
 margin-right: 60px; 
 gap:30px; 
}

.help_icon {
  width:20px; 
  height: 20px; 
  transition: transform 0.15s ease;
  
}

.help_icon:hover {
  transform: scale(1.3);
}

.header_max {
  max-width: 1208px;
  display:flex;  
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* margin: 0 auto; */
  margin-left: clamp(20px, 5%, 100px);
  margin-right: auto;
}

.header_div {
  margin-left: 20px; 
}

.help_res {
  display:none; 

}

.my_icon {
    width: 56px;
    height: 56px;
    border: 3px solid #2A3647;      
    border-radius: 50%;           
    background-color: #fff;       
    color: #29ABE2;            
    font-weight: bold;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.my_icon:hover {
  background-color:#0C2E621F;; 

}

.user_menu {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 8px; 
  background-color: #2A3647;
  width: 150px;
  border-radius: 20px 0 20px 20px;
  z-index: 1000;
}


ul {
  list-style: none;
  padding-left: 0;
  padding-top: 10px;
  margin: 0;
}

.user_menu a {            
  height: 46px; 
  width: 130px; 
  display: block;
  line-height: 44px;
  margin: 0 10px;  
  text-decoration: none;
  font-weight: 200;
  color: white;
}


.user_menu a:hover,
.user_menu a:focus {
  text-decoration: none;
  background-color: rgba(58, 75, 97, 0.4);
}

.user_menu a span {
  display: inline-block;
  padding-left: 10px;                  
  letter-spacing: 1px;               
}

.d_none {
  display: none;
}

@media (max-width: 680px) { 

  .join_icon {
  width: 32px; 
  height:39px; 
  display:block; 
}

.header_div h4 {
  display:none; 
}

.my_icon { 
  width: 40px; 
  height:40px; 
  border: 2px solid #2A3647;
  font-size: 18px;
}

.help_icon {
 display:none; 
}

.header_icons {
margin-right:30px; 
}

.help_res {
  display:block; 
}

.user_menu {
  height: 200px;
}

header {
  height: 80px;
}


}
