header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f5f5;
  border-bottom: 1px solid #eee;
  height: 96px;
  width: 100%;
}

.header_help {
  padding: 16px;
}