header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f5f5;
  border-bottom: 1px solid #eee;
  height: 96px;
  width: 100%;
}

.header_icons {
 display: flex;
 align-items: center;
 padding-right: 150px; 
 gap:30px; 
}

.help_icon {
  width:20px; 
  height: 20px; 
  transition: transform 0.15s ease;
  
}

.help_icon:hover {
  transform: scale(1.3);
}

.header_div {
  margin-left: 50px; 
}

.my_icon {
    width: 56px;
    height: 56px;
    border: 3px solid #2A3647;      
    border-radius: 50%;           
    background-color: #fff;       
    color: #29ABE2;            
    font-weight: bold;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.user_menu {
  position:absolute; 
  top:96px; 
  margin-right: 150px;
  background-color:#2A3647 ;
  width: 150px; 
  height: 200px; 
  border-radius: 10px;
}
