#splash_screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: white; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.5s ease;
}

#splash_logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height:122px; 
    transform: translate(calc(50vw - 75px), calc(50vh - 75px)) scale(1.5);
    transition: transform 1s ease-in-out;
}

#splash_logo.fly_to_login {
    transform: translate(var(--target-x), var(--target-y)) scale(1);
}

#splash_screen.hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}
