@media (max-width:1100px) {
.div_login {
    margin-top: 280px;
    margin-bottom: 115px;
}
.not_a_join_user {
    top: 110px;
    right: 0px; 
}

}

@media (max-width:750px) {
.div_login {
    width: 500px; 
}

}

@media (max-width:700px) {
.not_a_join_user {
    top: 750px;
    right: 50px; 
}
.div_login {
    margin-top: 250px;
    margin-bottom: 140px;
}
}

@media (max-width:650px) {
.not_a_join_user {
    right: 0px; 
}
}

@media (max-width:540px) {
h2 {
    font-size: 47px;
}

.div_login {
    width: 396px; 
    margin-top: 180px;
    margin-bottom: 140px;
}
.login_icon {
    top: 60px;
    height: 78px;
    width: 64px;
}
.input_login {
    height: 50px;
    width: 364px; 
    box-sizing: border-box;
    padding-right: 37px;
}
.div_login_form {
    width: 365px;
    margin-top: 10px; 
}

.not_a_join_user {
    top: 680px;
    right: 0px; 
    padding-right: 80px; 
}

.buttons_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px; 
}

.guest_login_button {
    margin-left: 0px;
}

.login_button {
    width: 180px;
}

.footer_login {
    padding:0px; 
    gap:45px; 
}

}

@media (max-width:430px) {

.login_wrapper {
    padding: 0 10px;
}

.div_login {
    width: 300px;
    height: 400px; 
}

.div_login input::placeholder {
    font-size: 16px;
}

.input_login{
    height: 40px;
    width: 280px; 
}

.div_login_form {
    width: 280px;
}

.button_fonts {
    font-size: 16px;
}

.not_a_join_user {
    top: 625px;
    right: 0px; 
    padding-right: 45px;
    gap:15px; 
}

.sign_up_button {
    margin-left: 0px;
}


}