@media (max-width:1100px) {

.not_a_join_user {
    top: 110px;
    right: 0px; 
}

}

@media (max-width:750px) {
.div_login {
    width: 500px; 
}

}

@media (max-width:700px) {

.not_a_join_user {
        top: 736px;
        position: absolute;          
        left: 50%;
        transform: translateX(-50%);
        padding-right: 0;
        justify-content: center;
        gap: 12px;
        right:0px; 
        text-align: center;
}

.div_login {
    top:43%; 
}
}

@media (max-width:620px) {

.not_a_join_user{
    width: 315px; 
}
}

@media (max-width:540px) {


.sign_up_button {
    padding:0px; 
}

.div_login {
    top:38%; 
} 


h2 {
    font-size: 47px;
}

.div_login {
    width: 396px; 
}
.login_icon {
    top: 60px;
    height: 78px;
    width: 64px;
}
.input_login {
    height: 50px;
    width: 364px; 
    box-sizing: border-box;
    padding-right: 37px;
}
.div_login_form {
    width: 365px;
    margin-top: 10px; 
}

.not_a_join_user {
    top: 680px;
}

.buttons_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px; 
}

.guest_login_button {
    margin-left: 0px;
}

.login_button {
    width: 180px;
}

.footer_login {
    padding:0px; 
    gap:45px; 
}

}

@media (max-width:430px) {



.login_wrapper {
    padding: 0 10px;
}

.div_login {
    width: 300px;
    height: 400px; 
    top: 35%; 
}

.div_login input::placeholder {
    font-size: 16px;
}

.input_login{
    height: 40px;
    width: 280px; 
}

.div_login_form {
    width: 280px;
}

.button_fonts {
    font-size: 16px;
}

.not_a_join_user {
    top: 645px;
}

.sign_up_button {
    margin-left: 0px;
}


}