@media (max-width:1100px) {

.not_a_join_user {
    top: 110px;
    right: 0px; 
}

.div_login {
   margin-top: 60px; 
}

.fill_container {
    height: 150px;
}

}

@media (max-width:750px) {
.div_login {
    width: 500px; 
    height:411px; 
}

}

@media (max-width:700px) {


.fill_container {
    height: 200px;
}

.not_a_join_user {
       display:none; 
}

.not_a_join_user_mobile {
     display:flex; 
     margin-top:0px; 
}

.div_login {
     margin-top: 0px;
}
}

@media (max-width:620px) {

.not_a_join_user_mobile{
    width: 310px; 
    gap:18px; 
}
}

@media (max-width:540px) {

.fill_container {
    height: 125px;
}

.sign_up_button {
    padding:0px; 
}

h2 {
    font-size: 47px;
}

.div_login {
    width: 396px; 
    margin-bottom: 50px;
}
.login_icon {
    top: 30px;
    height: 78px;
    width: 64px;
    left: 76px;
}
.input_login {
    height: 50px;
    width: 364px; 
    box-sizing: border-box;
    padding-right: 37px;
}
.div_login_form {
    width: 365px;
    margin-top: 10px; 
}

.buttons_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:0px; 
    padding-top:20px; 
}

.guest_login_button {
    margin-left: 0px;
    margin-top:20px; 
}

.login_button {
    width: 180px;
    margin-top:20px; 
}

.footer_login {
    padding:0px; 
    gap:45px; 
    margin-top: 50px;
}

}

@media (max-width:490px) { 
 .login_icon {
    left: 40px;
}

}


@media (max-width:430px) {

.login_button {
    margin-top:30px; 
}


.div_login {
    width: 300px;
    height: 400px; 
}

.div_login input::placeholder {
    font-size: 16px;
}

.input_login{
    height: 40px;
    width: 280px; 
    font-size: 16px; 
}

.div_login_form {
    width: 280px;
}

.button_fonts {
    font-size: 16px;
}

.sign_up_button {
    margin-left: 0px;
}

.login_icon {
    left: 30px;
} 


}

@media (max-width:390px) { 
 .login_icon {
    left: 20px;
} }