@media (max-width:1100px) {

.not_a_join_user {
    top: 110px;
    right: 0px; 
}

.div_login {
   margin-top: 60px; 
}

}

@media (max-width:750px) {
.div_login {
    width: 500px; 
    height:411px; 
}

}

@media (max-width:700px) {

.not_a_join_user {
        top: 715px;
        position: absolute;          
        left: 50%;
        transform: translateX(-50%);
        padding-right: 0;
        justify-content: center;
        gap: 12px;
        right:0px; 
        text-align: center;
}
.footer_login {
    margin-top: 125px;
}
.div_login {
     margin-top: 0px;
}
}

@media (max-width:620px) {

.not_a_join_user{
    width: 315px; 
}
}

@media (max-width:540px) {


.sign_up_button {
    padding:0px; 
}

h2 {
    font-size: 47px;
}

.div_login {
    width: 396px; 
    margin-bottom: 50px;
}
.login_icon {
    top: 60px;
    height: 78px;
    width: 64px;
    left: 76px;
}
.input_login {
    height: 50px;
    width: 364px; 
    box-sizing: border-box;
    padding-right: 37px;
}
.div_login_form {
    width: 365px;
    margin-top: 10px; 
}

.not_a_join_user {
    top: 680px;
}

.buttons_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:0px; 
}

.guest_login_button {
    margin-left: 0px;
    margin-top:20px; 
}

.login_button {
    width: 180px;
    margin-top:20px; 
}

.footer_login {
    padding:0px; 
    gap:45px; 
    margin-top: 90px;
}

}

@media (max-width:490px) { 
 .login_icon {
    left: 40px;
}

}


@media (max-width:430px) {

.login_button {
    margin-top:30px; 
}


.login_wrapper {
    padding: 0 10px;
}

.div_login {
    width: 300px;
    height: 400px;
    margin-bottom: 100px;  
}

.div_login input::placeholder {
    font-size: 16px;
}

.input_login{
    height: 40px;
    width: 280px; 
}

.div_login_form {
    width: 280px;
}

.button_fonts {
    font-size: 16px;
}

.sign_up_button {
    margin-left: 0px;
}

.not_a_join_user {
    top: 650px;
}

}

@media (max-width:390px) { 
 .login_icon {
    left: 20px;
} }