.login_body {
    display:flex; 
    flex-direction: column; 
    font-family: "inter"; 
    min-height: 100vh;
    background-color: #f5f5f5;
}

.login_wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    
}

.login_content {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; 
  flex: 1;
}

.registration_content {
  max-width: 1440px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  flex: 1;
}

.registration_wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width:100%; 
    align-items: center;     
}

.login_icon {
    height: 122px; 
    width: 100px;
    position:absolute; 
    top:40px;
    left: 77px; 
}

.not_a_join_user {
    position:absolute; 
    top:67px; 
    right: 24px; 
    height: 49px; 
    padding-right: 100px;
    gap: 35px; 
    display:flex; 
    align-items: center;
}

.buttons_login {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px; 
}

.link_to_registration {
    text-decoration:none; 
    font-size: 20px; 
    font-family: "inter"; 
    color: black; 
}

.button_sizeone {
    width: 91px; 
    height: 49px; 
    font-size: 15px;
}

.sign_up_button {
    display: inline-block;
    padding: 15px 16px;
    background-color: #2A3647;
    color: #ffffff;
    text-decoration: none; 
    border-radius: 8px;
    font-family: "inter";
    font-weight: bold;
    cursor:pointer; 
    margin-left: 50px; 
    border:unset; 
}

.sign_up_button:hover {
    background-color: #29ABE2;
    border-color: #29ABE2 ;
}


.div_login {
    height:449px; 
    width:652px;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    margin: 0;       
    padding-top: 20px;
    display:flex; 
    align-items: center;
    flex-direction:column; 
    background-color: white;
    border-radius: 30px;
}

.div_sign_up {
    height: 630px; 
    width: 598px;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    margin: 0;
    display:flex; 
    padding-top: 0px; 
    align-items: center;
    flex-direction:column; 
    background-color: white;
    border-radius: 30px;
}

.login_button {
    display: inline-block;
    padding: 15px 24px;
    background-color: #2A3647;
    color: #ffffff;
    text-decoration: none; 
    border-radius: 8px;
    cursor:pointer; 
    width: 111px; 
    text-align: center;
    white-space: nowrap;
    margin-top:40px; 
    border:unset; 
}

.login_button:hover {
    background-color: #29ABE2;
    border-color: #29ABE2 ;
}

.guest_login_button {
    display: inline-block;
    padding: 15px 24px;
    background-color: #ffffff;
    color: #2A3647;
    text-decoration: none; 
    border-radius: 8px;
    border-color:#2A3647; 
    border: 1px solid; 
    cursor:pointer; 
    width: 180px; 
    margin-left: 20px; 
    margin-top: 40px; 
}

.guest_login_button:hover {
    color: #29ABE2;
    border-color: #29ABE2 ;
}


.input_style {
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.2s, box-shadow 0.2s;
   
}

.input_style_red {
    border: 1px solid red;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.2s, box-shadow 0.2s;
}

.input_registration {
    height: 48px; 
    width: 422px; 
    box-sizing: border-box;
    padding-right: 40px;      
    padding-left: 20px; 
    font-size: 20px;
    font-family: "inter";
}


.input-wrapper {
  position: relative;
  display: inline-block;
}

.input-wrapper .icon {
  position: absolute;
  right: 18px;
  top: 65%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  opacity: 0.6;
}

.input_login {
    height: 48px; 
    width: 422px;
    padding-left: 20px; 
    font-size: 20px; 
    font-family: "inter";
}

.div_login input::placeholder {
    font-weight: 400;
    font-size: 20px;
    color: #D1D1D1; 
    padding-left: 0px
}

.div_login_form{
    width: 422px; 
    /* height: 152px;  */
    margin-top: 20px;
    cursor: pointer;
     padding-bottom: 40px; 
}

.div_sign_up_form {
    width: 422px; 
    /* height: 286px;  */
    margin-top: 20px; 
    cursor: pointer;
    padding-bottom: 20px; 
}

.margin_input {
    margin-top:24px; 
    cursor: pointer;
}

.input_pw {
    margin: bottom 0px !important;
    cursor: pointer;
}

.checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  font-family: "inter";
  color: rgb(48, 47, 47); 
  gap:8px; 
  margin-top: 44px; 
  margin-bottom: 24px; 
  margin-left: 104px; 
}

.check {
  display: none;
}

.custom_check {
    transition: transform 0.75s ease;
    height: 16px;
    width: 16px; 
    background-color: #F0F0F0;
    border: 2px solid #2A3647;
    border-radius:3px;
    display: inline-block;
    position: relative;
}

.custom_check_highlight {
    border: 2px solid #29ABE2;
    background-color: #f60f0f;
}

.checkbox:hover .custom_check{
   background-color: #e4dada;
   border-color: #2A3647;
   transform: scale(1.1);
}

.check:checked + .custom_check {
  /* background-color: #29ABE2 ; */
   background-color: #ffffff; /* Background white */
   border-color: #2A3647;
}

.check:checked + .custom_check::after {
  content: "✔";
  color: #2A3647;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}

.div_sign_up input::placeholder {
    font-weight: 400;
    font-size: 20px;
    color: #D1D1D1;
    padding-left: 0px 
}

a {
    color:#29ABE2; 
    text-decoration: none;
    font-family:"inter"; 
    font-weight: 400;
}


.arrow_blue {
    height: 32px; 
    width: 32px; 
    right: 232px; 
    top:48px; 
    position:relative; 
    cursor:pointer; 
    transition: all 0.3s ease;
    border-radius: 50%;
    border: none;
    background: transparent;
}

.arrow_blue:hover {
  background: rgba(92, 89, 89, 0.1);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
  transform: scale(1.1);
}

.footer_login {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 16px;
    margin-top: 40px; 
}


.footer_registration {
    height: 100px; 
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 50px; 
    font-size: 16px;
    margin-top: 40px; 
}

.footer_registration a {
    text-decoration: none;
    color: #A8A8A8; 
}

.footer_registration a:hover {
    color: #29ABE2;
    font-weight: bold;
}

.footer_login a {
    text-decoration: none;
    color: #A8A8A8; 
}

.footer_login a:hover {
    color: #29ABE2;
    font-weight: bold;
}

.blueline {
    padding-top:10px; 
}

.margin_155 {
    margin-left: 165px !important; 
}

.overlay_userfeedback {
    position: absolute;
    background-color: #2A3647;
    color: white; 
    border-radius: 10px; 
    top:75px; 
    left:50%; 
    transform: translateX(-50%);
    width: 350px; 
    height: 70px; 
    font-size: 20px; 
    display:flex; 
    align-items: center; 
    padding-left: 10px; 
    padding-right: 10px; 
    font-weight: 200;
}

.overlay_userfeedback_sign_up {
    position: absolute;
    background-color: #2A3647;
    color: white; 
    border-radius: 10px; 
    top:80px; 
    width: 300px; 
    height: 50px; 
    font-size: 20px; 
    display:flex; 
    align-items: center; 
    justify-content: center;
    font-weight: 200;
    left:50%; 
    transform: translateX(-50%);
}

.overlay_userfeedback_email {
    position: absolute;
    background-color: #2A3647;
    color: white; 
    border-radius: 10px; 
    top:80px; 
    width: 300px; 
    height: 50px; 
    font-size: 20px; 
    display:flex; 
    align-items: center; 
    justify-content: center;
    font-weight: 200;
    text-align: center;    
    white-space: normal;
    left:50%; 
    transform: translateX(-50%);
}

.d_none {
    display:none; 
}

.password_not_match {
    font-size: 16px; 
    color: red; 
    margin-bottom:15px; 
    margin-top:0px; 
    position:absolute; 
    margin-left:5px; 

}

.not_a_join_user_mobile {
 justify-content:center; 
 align-items: center; 
 margin-top: 50px; 
 display: none; 
}

.fill_container {
    height: 200px;
    width:100%; 
    background-color:transparent;
}

.fill_container_sign_up {
    height: 200px;
    width:100%; 
    background-color:transparent;
}
