.content{
    scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

.privacy_policy_page {
  margin-left: 90px;
  margin-top: 90px;
  width: 958px;
  padding-bottom: 150px;
  font-size: 16px; 
}

.strong_fonts {
font-family: Inter;
font-weight: 700;
font-style: Bold;
font-size: 20px; 
line-height: 120%;
letter-spacing: 0%;
}

a {
    text-decoration: none; 
    color: #000;          
}

.contact {
    list-style-type: disc;
    padding-left: 20px;
}

.contact li {
    margin-bottom: 6px;
}

@media (max-width:1300px) { 
.privacy_policy_page {
  margin-left: 90px;
  margin-right: 40px;
  width: auto;
  white-space: normal; 
  word-wrap: break-word; 
  word-break: break-word;
}

}

@media (max-width:1024px) { 
.privacy_policy_page {
  margin-left: 60px;
  margin-top: 60px;
}

}

@media (max-width:540px) { 
  h2 {
    font-size: 47px;
}
.privacy_policy_page {
  margin-left: 40px;
  margin-right: 20px;
}
}


