.content{
    scroll-behavior: smooth;
}

.toc { list-style: none; padding-left: 0; margin: 0; }


html {
  scroll-behavior: smooth;
}

h3 {
  margin-bottom: 0;
}

h4 {
  margin-bottom: 0;
  font-weight: 600;
}

