.content{
    scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

.privacy_policy_page {
  margin-left: 90px;
  margin-top: 90px;
  width: 958px;
}

.strong_fonts {
font-family: Inter;
font-weight: 700;
font-style: Bold;
font-size: 20px; 
line-height: 120%;
letter-spacing: 0%;
}

a {
    text-decoration: none; 
    color: #000;          
}

.contact {
    list-style-type: disc;
    padding-left: 20px;
}

.contact li {
    margin-bottom: 6px;
}


