@media (max-width: 1200px) {
.div_sign_up {
   margin-top: 215px;
   margin-bottom: 0px;
}

.login_icon {
    top: 40px;
}

.overlay_userfeedback_sign_up {
top:120px; 
}


.overlay_userfeedback_email { 
 top:120px; 
}

}

@media (max-width:650px) {
.div_sign_up {
    width: 450px;
    height: 595px;
    margin-top: 175px;
    margin-bottom: 40px;
}

.arrow_blue {
    right: 180px;
}

.login_icon {
    top: 30px;
    height: 100px;
    width: 80px;
}

.overlay_userfeedback_sign_up {
    top:156px; 
}

.overlay_userfeedback_email { 
    top:156px;  
}

.overlay_userfeedback { 
 top: 754px;
}
}

@media (max-width:540px) {


.overlay_userfeedback_sign_up {
        top:134px; 
    }

.overlay_userfeedback_email { 
    top:134px;  
}

h2 {
    font-size: 47px;
}

.div_sign_up {
    width: 396px; 
    margin-top: 170px;
    margin-bottom: 30px;
}

.arrow_blue {
    right: 155px;
}

.login_icon {
    height: 78px;
    width: 64px;
}
.input_registration {
    height: 50px;
    width: 364px; 
    box-sizing: border-box;
    padding-right: 37px;
}
.div_sign_up_form {
    width: 365px;
    margin-top: 10px; 
}
.checkbox {
    margin-left: 70px;
}

.margin_155 {
    margin-left: 135px !important;
}

.overlay_userfeedback { 
 top: 705px;

}

}

@media (max-width:430px) {
.div_sign_up {
    width: 300px;
    height: 550px; 
    margin-bottom: 20px;
}

.arrow_blue {
    right: 115px;
}

.button_fonts {
    font-size: 16px;
}

.login_icon {
    height: 78px;
    width: 64px;
}
.input_registration {
    height: 40px;
    width: 280px; 
}
.div_sign_up_form {
    width: 280px; 
}

.checkbox {
    margin-left: 20px;
}

.margin_155 {
    margin-left: 85px !important;
}

.div_sign_up input::placeholder {
    font-size: 16px;
}

.registration_wrapper {
    padding: 0 10px;
}

.overlay_userfeedback {
     font-size: 16px; 
     width:220px; 
     text-align:center; 
}


}