@media (max-width: 1200px) {

.login_icon {
    top: 40px;
}





.footer_registration {
    margin-top: 55px;
}

}

@media (max-width:790px) {
    .overlay_userfeedback { 
 top:810px; 
}

.overlay_userfeedback_sign_up {
top:810px; 
}

.overlay_userfeedback_email { 
 top:810px; 
}
}

@media (max-width:650px) {
.div_sign_up {
    width: 450px;
    height: 595px;
}

.arrow_blue {
    right: 180px;
}

.footer_registration {
    margin-top: 80px;
}
}

@media (max-width:540px) {

.fill_container_sign_up {
    height:150px; 
}

.footer_registration {
    margin-top: 100px;
}

.overlay_userfeedback_sign_up {
top:760px; 
}

.overlay_userfeedback_email { 
 top:760px; 
}

.overlay_userfeedback { 
 top: 750px;
}

h2 {
    font-size: 47px;
}

.div_sign_up {
    width: 396px; 
}

.arrow_blue {
    right: 155px;
}

.login_icon {
    height: 78px;
    width: 64px;
}
.input_registration {
    height: 50px;
    width: 364px; 
    box-sizing: border-box;
    padding-right: 37px;
}
.div_sign_up_form {
    width: 365px;
    margin-top: 10px; 
}
.checkbox {
    margin-left: 70px;
}

.margin_155 {
    margin-left: 135px !important;
}


}

@media (max-width:430px) {
.div_sign_up {
    width: 300px;
    height: 550px; 
}

.footer_registration {
    margin-top: 100px;
}

.arrow_blue {
    right: 115px;
}

.button_fonts {
    font-size: 16px;
}

.login_icon {
    height: 78px;
    width: 64px;
}
.input_registration {
    height: 40px;
    width: 280px; 
    font-size: 16px; 
}
.div_sign_up_form {
    width: 280px; 
}

.checkbox {
    margin-left: 20px;
    margin-top: 60px; 
}

.margin_155 {
    margin-left: 85px !important;
}

.div_sign_up input::placeholder {
    font-size: 16px;
}

.overlay_userfeedback {
     font-size: 16px; 
     width:220px; 
     text-align:center; 
     top: 725px; 
}

.overlay_userfeedback_sign_up {
top:740px; 
}

.overlay_userfeedback_email { 
 top:740px; 
}

.login_icon {
    left:60px;
}


}