.lightblue {
    color: #29ABE2; 
}

.boton_gradient {
background-color: #F5F5F5;
}

.white {
   background-color: #FFFFFF; 
}

.dark_grey_color {
    background-color: #2A3647;
}

.style {
    background-color: #F5F5F5; 
}

