@font-face {
    font-family: "inter"; 
    src: url(../../assets/fonts/Inter-VariableFont_opsz,wght.ttf);

}

/* F端r namen  */
h1{
    font-family: "inter";
    font-size:64px; 
    font-weight: 700; 
    line-height: 120%;
    color:  #29ABE2;   
} 

/* F端r Login/AddTask */
h2 {
    font-family: "inter";
    font-size:61px; 
    font-weight: 700; 
    line-height: 120%;
    margin-bottom:0px; 
    margin-top: 0px;
}

/* Noch nicht definiert f端r welche Schriftart */
h3 { 
    font-family: "inter";
    font-size:40px; 
    font-weight: 500; 
    line-height: 120%;
}


/* aktuell f端r die login-page */
h4 { 
font-family: "Inter";
font-weight: 400;
font-style: normal;
font-size: 20px;
/* leading-trim: none; */
line-height: 120%;
letter-spacing: 0%;
}

.button_fonts {
    font-family: "inter";
    font-weight: 700; 
    font-size:21px; 
    line-height: 120%;
    letter-spacing: 0%;
    
}

.button_df {
    display:flex; 
    align-items:center; 
    justify-content: center;
}
